header.navigation(role='banner')
		.navigation-wrapper
			a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
			nav(role='navigation')
			
				ul#js-navigation-menu.navigation-menu.show
					li.nav-link
						a(href='javascript:void(0)') Главная
					li.nav-link
						a(href='javascript:void(0)') О нас
					li.nav-link
						a(href='javascript:void(0)') Услуги
					li.nav-link
						a(href='javascript:void(0)') Вакансии
					li.nav-link
						a(href='javascript:void(0)') Прайс
					li.nav-link
						a(href='javascript:void(0)') Галерея
					li.nav-link
						a(href='javascript:void(0)') Костюмы
					li.nav-link
						a(href='javascript:void(0)') Контакты
