footer.footer(role='contentinfo')
	.footer-links
		ul
			li
				h3 Адрес
			li
				p г.Астана
			li
				p пр.Республики, 68
			li
				p БЦ "Маржан"
			li
				p офис 215, 211
		ul
			li
				h3 График работы:
			li
				p с 09:00 до 18:00
			li
				p обед с 13:00 до 14:00
			li
				p Выходные:
			li
				p суббота, воскресенье
		ul
			li
				h3 Партнеры
			li
				p Crossfit-Astana.kz
			li
				p Crosstraining.kz
			li
				p Medi-art.kz
			li
				p Uroplus.kz
	hr
	p
		a(href="http://web-aqua.kz/", target="_blank") Разработано компанией Web-aqua
