.feedback:after{
  content: '';
  width: 100%;
  display: table;
}
.feedback{
  overflow: hidden;
  background: #ebebeb;
  padding: 11vmin 0;
  .container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }

  .carousel {
      max-width: 100%;
      position: relative;
      margin: 0 auto;
  }

  .carousel li {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all .6s, z-index .2s;
    // will-change: transform;
    .carousel-text{
      margin: 50px 0;
      text-transform: uppercase;
      color: #235210;
      h1, p{
        text-align: center;
        font-family: $font-family;
      }
    }
  }

  .carousel li img {
      width: 250px; height: 150px;
  }

  .left {
      transform: translateX(-25%) scale(.7);
      h1, p{
        opacity: 0;
      }
  }

  .center {
      z-index: 10;
  }

  .right {
      transform: translateX(25%) scale(.7);
      h1, p{
        opacity: 0;
      }
  }

  .carousel .first {
      // z-index: -1
  }

  .paginator {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 auto;
  }

  .left-btn{
    background: url(../img/left.png) no-repeat;
  }
  .right-btn{
    background: url(../img/right.png) no-repeat;
  }

  .left-btn, .right-btn {
      display: inline-block;
      width: 35px;
      height: 60px;
      padding: 5px;
      text-align: center;
      // background: #E1E73D;
      // border: 1px solid white;
      // border-radius: 50%;
      // text-transform: uppercase;
      cursor: pointer;
      z-index: 100;
  }

  #first,
  #second,
  #third,
  #fourth{
    width: 21vh;
    height: 21vh;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.48);
    border-radius: 100px;
    margin: 0 auto;
  }

  // #red {
  //     background: #F00;
  // }
  //
  // #green {
  //     background: #0f0;
  // }
  //
  // #blue {
  //     background: #00f;
  // }
  //
  // #yellow {
  //     background: #ff0;
  // }
  //
  // #some {
  //     background: #00FFFF;
  //   height: 300px;
  // }
}
