.header{
  position: relative;
  a.logo {
    float: left;
    margin-left: 8.51064%;
    position: absolute;
    z-index: 999999;
    bottom: 0;
    img {
      min-height: $nav_menu_navigation_height;
    }
  }
}

.header::after{
  content: '';
  width: 100%;
  display: table;
}

.contacts-line{
  @include outer-container;
  // min-height: 112px;
  background-color: #1a3521;
  font-family: "MyriadProRegular";
  height: 5.83vw;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.contacts-icon{
  @include span-columns(10);
  @include shift(1);
  text-align: right;
  span{
    font-weight: 600;
    font-size: $font-size-p;
    color: #f3e936;
    padding-left: 30px;
  }
  i{
    font-size: 20px;
    color: #abc052;
    padding: 0 15px;
    span{
      font-weight: normal;
      font-style: italic;
      padding-left: 5px;
      line-height: 30px;
      color: #abc052;
    }
  }
}

.order{
  /* Style for "Rectangle" */
  background-color: #f3e936;
  float: right;
  background: url(../img/rectangle-1.png);
  font-weight: normal !important;
  font-style: italic;
  line-height: 1.7vw;
  white-space: nowrap;
  padding: 0 !important;
  margin: 0 0 0 30px;
  width: 9.95vw;
  span{
    color: #052c10;
    font-size: $font-size-p;
    padding: 0 10px;
    text-transform: uppercase;
  }
}
