.header{
  position: relative;
  a.logo {
    float: left;
    margin-left: 8.51064%;
    position: absolute;
    z-index: 999999;
    bottom: 0;
    width: 10%;
    img {
      min-height: $nav_menu_navigation_height;
    }
  }
}

.header::after{
  content: '';
  width: 100%;
  display: table;
}

.contacts-line{
  @include outer-container;
  // min-height: 112px;
  background-color: #1a3521;
  font-family: "MyriadProRegular";
  height: 5.83vw;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}
i.fa.fa-phone {
  color: #f3e936;
  span {
    color: #f3e936;
    font-style: normal;
  }
}
.contacts-icon{
  @include span-columns(10);
  @include shift(1);
  text-align: right;
  span{
    font-weight: 600;
    font-size: $font-size-p;
    color: #f3e936;
    padding-left: 25px;
  }
  i{
    font-size: 20px;
    color: #abc052;
    padding: 0 15px;
    span{
      font-weight: normal;
      font-style: italic;
      padding-left: 5px;
      line-height: 30px;
      color: #abc052;
    }
  }
}

.order{
  /* Style for "Rectangle" */
  background: #4f7c27;
  float: right;
  margin: 0px 10px 15px;
  width: 14.58vw;
  height: 2.6vw;
  max-height: 36px;
  max-width: 194px;
  line-height: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,.39);
  border-radius: 20px;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  cursor: pointer;
  span{
    font-style: normal;
    margin: 0 auto;
    padding-left: 0;
    font-family: $font-family-articles;
    font-weight: normal;
  }
}
