
@media screen and (max-width: 1366px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {
  /* Header */
  .header a.logo {
    margin-left: 10px;
    z-index: 999999;
    width: 40%;
    top: 0;
  }
  header.navigation nav{
    width: 95% !important;
    margin: 0 2.5% !important;
  }
  header.navigation ul li.nav-link a{
    font-size: 4vw !important;
  }
  header.navigation ul li.nav-link{
    line-height: 40px !important;
  }
  header.navigation ul li:last-child a{
    padding-right: .8em;
  }
  header.navigation ul.navigation-menu{
    margin: 0 0 30px 0 !important;
  }
  header.navigation ul li.nav-link {
    background: #296927 !important;
  }
  .fa {
    display: block !important;
  }
  .fa.fa-phone{
    cursor: pointer;
  }
  .contacts-line{
    height: auto;
    .contacts-icon{
      width: 100%;
      margin: 0;
      .order{
        width: 95%;
        max-width: none;
        max-height: none;
        margin: 5px 10px 15px;
        height: 10vw;
        span{
          font-size: 4vw;
          margin: 0 auto;
          padding-left: 0;
        }
      }
      i{
        span{
          font-size: 4vw;
        }
      }
    }
  }
  /* end Header */

  /* Costumes */
  .ourcostumes{
    display: block;
    .ourcostumes-text{
      width: 100%;
      margin-bottom: 10px;
      padding: 15px 5px;
      p{
        width: 100%;
        padding: 15px 5px;
        margin: 0;
        text-align: justify;
      }
    }
    .ourcostumes-image{
      width: 100%;
    }
  }
  /* end Costumes */

  /* Service */
  .grid-items-lines .grid-item{
    height: 20vh;
  }
  .grid-item-big{
    height: auto !important;
    padding: 15px 5px !important;
    display: block !important;
    &:after{
      content: '';
      width: 100%;
      display: table;
    }
  }
  .services-content-text{
    text-align: center;
    p{
      max-width: 100% !important;
      text-align: justify;
    }
    input{
      float: none !important;
    }
  }
  .process{
    div{
      width: 100% !important;
      p{
        font-size: 1.94vw !important;
      }
    }
  }
  .frozen{
    display: none !important;
  }
  /* end Service */

  /* Carousel */
  .feedback .carousel li .carousel-text{
    margin: 50px 0 0 0;
  }
  .carousel-text p{
    text-align: justify !important;
    padding: 5px 15px;
    line-height: 20px;
    font-size: 14px;
  }
  .feedback .right{
    transform: translateX(35%) scale(.7);
  }
  .feedback .left{
    transform: translateX(-35%) scale(.7);
  }

  /* end Carousel */

  /* Ask-Questions */
  .ask-question-content{
    width: 95%;
    margin: 0 auto;
    float: none;
    .input-records{
      width: 100% !important;
    }
    .textarea-records{
      width: 100% !important;
      textarea{
        height: 50vmin;
      }
    }
    input{
      height: 40px !important;
    }
  }
  .confidentiality{
    text-align: center;
    width: 95%;
    margin: 0 auto !important;
    float: none;
    .confidentiality-text{
      width: 100% !important;
      p{
        text-align: center;
        font-size: 2vw;
      }
    }
    .confidentiality-input{
      width: 100% !important;
      input{
        float: none;
      }
    }
  }
  /* end Ask-Questions */

  /* About */
  .about{
    margin: 0 auto;
    width: 95%;
    text-align: justify;
    float: none;
  }

  /* end About */

  /* Articles */
  .articles{
    div{
      display: block;
      text-align: center;
    }
  }
  .about .articles .articles-line-after hr{
    width: 100%
  }
  .about .articles .articles-line-after span{
    width: 100%;
    font-size: 4vw;
    text-align: center;
  }
  .about .articles .articles-line-before hr{
    width: 100% !important;
  }
  .about .articles .articles-line-before span{
    width: 100%;
    font-size: 8vw;
    text-align: center;
  }
  /* end Articles */

  /* Footer */
  .footer-2{
    text-align: center;
    ul li{
      display: inline-block;
    }
  }
  .bottom-contacts-line-text, .bottom-contacts-line-phones{
    width: 100% !important;
    text-align: center;
  }
  .bottom-contacts-line-phones{
    p{
      text-align: center !important;
      i{
        display: inline-block !important;
      }
    }
  }
  .bottom-contacts-line{
    img{
      display: none;
    }
  }
  /* end Footer */

  /* Pages */

  /* About */
  .about-wrap{
    width: 95%;
    margin: 9.72vw 2.5% 0;
    padding: 30px;
    h1{
      text-align: center;
    }
    p{
      font-size: 4vw;
      line-height: 20px;
      text-align: justify;
    }
    .sidebar{
      width: 100%;
      .sidebar-articles{
        h1{
          font-size: 4vw;
        }
      }
      .sidebar-sub-articles{
        h1{
          font-size: 4vw;
        }
      }
      .sidebar-articles-content{
        margin: 0 0 10px;
        .first{
          h1,p{
            font-size: 4vw;
            text-align: left;
          }
        }
      }
    }
    .about-wrap-content{
      width: 100%;
    }
  }
  /* end About */

  /* Costumes */
  .costumes-wrap{
    width: 95%;
    margin: 9.72vw 2.5% 0;
    padding: 30px;
    h1{
      font-size: 8vw;
      text-align: center;
    }
    p{
      font-size: 4vw;
      text-align: justify;
    }
  }
  .card-header{
    h3{
      font-size: 6vw !important;
    }
  }
  .card{
    margin: .5em 0 !important;
    input{
      font-size: 4vw !important;
      line-height: 20px !important;
      visibility: visible !important;
      &:hover{
        background-color: #1e9039;
      }
    }
    .card-copy{
      p{
        text-align: justify;
      }
    }
  }
  /* end Costumes */

  /* end Pages */
}

@media screen and (max-width: 480px) {}
@media screen and (max-width: 320px) {}
