#partners {
  display: table;
  width: 100%;
  margin: 0 0 1.2em;

  .partner {
    width: 16%;
    float: left;
    padding: 0;
    margin-left: 5%;

    img {
      width: 100%;
    }
  }

  .partner:first-of-type {
    margin-left: 0%;
  }
}
@media screen and (max-width: 600px){
  #partners {
    .partner {
      width: 100%;
      float: none;
      padding: 0;
      margin: 10px 0;
      img {
        width: 100%;
        max-width: 220px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
