
$blue: rgb(16,37,67);
$orange:  #4e9c4e;

// you can set just this variable if you like the default dimensions or go crazy below.
$base-size:20px;
$base-color:#fff;
$hover-color: $orange;

$arrow-width: $base-size;
$arrow-height: $base-size/2;
$arrow-color:$base-color;

$circle-radius: $base-size * 2;
$circle-color: $base-color;
$circle-thickness: $base-size/10;
$circle-style: solid;
$circle-style-hover: solid;
$circle-hover-bg: rgba($base-color,.1);

$text-offset: $base-size;
$text-color: $base-color;
$text-size: $base-size;
$line-height: $text-size + $circle-thickness;




%transition{
  @include transition(all .3s);
}

%animation{
  //check the keyframes at the bottom for more cool stuff
  @include animation-iteration-count(infinite);
  @include animation-name(shimmer);
  @include animation-duration(2s);
  @include animation-timing-function(linear);
}


.scroll_down{
  font-size: $text-size;
  line-height: $line-height;
  margin:auto;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  text-decoration: none;
  top:$circle-radius * 2 + $circle-thickness * 2 + $text-offset + $line-height;
  @extend %transition;
  @extend %animation;

  &:after{
    @extend %transition;
    content: "";
    width:0;
    height:0;
    border: $arrow-width solid transparent;
    border-top: $arrow-width solid $arrow-color;
    display:block;
    position: absolute;
    left: 50%;
    top:-1 * (($circle-thickness * 2) + ($arrow-width * 2) + $text-offset);
    margin-left: -1 * $arrow-width;
  }
  &:before{
    @extend %transition;
    position: absolute;
    left: 50%;
    margin-left: -1 * ($circle-radius + $circle-thickness);
    top:-1 * (($circle-radius * 2) + ($circle-thickness) + $text-offset);
    display:block;
    content: "";
    border: $circle-thickness $circle-style $circle-color;
    border-radius: 50%;
    width: $circle-radius * 2;
    height: $circle-radius *2;
  }
  &:hover{
    color: $hover-color;
    @include animation-name(none);
    &:after{
      border-top: $arrow-width solid $hover-color;
    }
    &:before{
      border:$circle-thickness $circle-style-hover $hover-color;
      background-color: $circle-hover-bg;
    }
  }
}
@include keyframes(shimmer) {
  0% {
    opacity: 1;
  }
  50% {
   opacity: .3;
  }
  100%{
    opacity: 1;
  }
}
