.vertical-tabs-container {
  $base-border-color: none !default;
  $base-border-radius: 3px !default;
  $base-background-color: none !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: rgba(255,255,255,.7);
  $medium-screen: 40em !default;
  $base-font-color: rgba(255,255,255,.7);
  $tab-border-color: none;
  $tab-border: 1px solid rgba(78,156,78,.3);
  $tab-border-radius: $base-border-radius;
  $tab-content-background: none;
  $tab-active-color: $tab-content-background;
  $tab-inactive-color:none;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $medium-screen;
  $liteGrin: #4e9c4e !default;
  $line-height: em(31px);

  @include clearfix;
  border: $tab-border;
  border-radius: $tab-border-radius;
  margin-bottom: $base-spacing;
  overflow: hidden;
  margin-top: 30px;
  background: rgba(78,156,78,.1);
  border-radius: 4px;
  padding: 12px;

  li {
    list-style: none;
  }

  a {
    color: $action-color;
    text-decoration: none;
  }

  .vertical-tabs {
    display: none;

    @include media($vertical-tab-mode) {
      background-color: $tab-inactive-color;
      display: inline;
      float: left;
      height: $vertical-tabs-height;
      width: 30%;
    }
  }

  .vertical-tab {
    @include media($vertical-tab-mode) {
      //border-bottom: $tab-border;
      display: block;
      font-weight: bold;
      margin-right: -1px;
      padding: ($base-spacing / 2) ($gutter / 2);

      &.is-active {
        background-color: $tab-content-background;
        color: $liteGrin;
        font-size: em(25px);
        margin-right: -1px;
    }
  }
}
  a.vertical-tab-accordion-heading,
  a.vertical-tab {
    color: $dark-gray;
  }

h1.act{
        color: $liteGrin;
        text-align:right;

      }


  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    display: block;
    margin: 0 auto;

    & a:focus {
      outline: none;
    }

    @include media($vertical-tab-mode) {
      @include size(70% $vertical-tabs-height);
      background-color: $tab-content-background;
      display: inline-block;
    }
  }

  .vertical-tab-content {
    background-color: $tab-content-background;
    padding: $base-spacing $gutter;
    color: $base-font-color;
    line-height: $line-height;


    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }

    @include media($vertical-tab-mode) {
      border: 0;
      display: none;
    }
  }

  .vertical-tab-accordion-heading {
    //background-color: $tab-inactive-color;
    border-top: $tab-border;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-spacing / 2 $gutter / 2;

    &:focus,
    &:hover {
      color: $action-color;
    }

    &:first-child {
      border-top: 0;
    }

    &.is-active {
      background: $tab-active-color;
      border-bottom: 0;
    }

    @include media($vertical-tab-mode) {
      display: none;
    }
  }
}
