.clr{
  clear: both;
}
/* Side Image */
.button-holiday:hover{
  p{
    color: #fff;
  }
}
.button-holiday{
  /* Style for "Прямоуголь" */
  width: 14.58vw;
  height: 2.6vw;
  background: #4f7c27;
  float: left;
  max-height: 50px;
  max-width: 282px;
  line-height: 0;
  border-radius: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  bottom: 5%;
  left: 42.5%;
  border-radius: 25px;
  p{
    /* Style for "Хочу празд" */
    color: #f3e936;
    font-family: $font-family-articles;
    font-size: $font-size-h1;
    font-weight: 400;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
  }
}

.additionalservices::after{
  content: '';
  width: 100%;
  display: table;
}
