$green: #007100;
$rad: #FF0000;
$black: #141414;


.container{
  @include outer-container();
  $max-width: 1600px;

}

body{
  //background-color: #000;

}

.slid_wrap{
@include span-columns(12);
border: 1px solid red;
}

.slid_menu{
@include span-columns(6);
border: 1px solid red;
}

.slider_content{
@include span-columns(6);
}
