.about-wrapper  
  .about-wrap-back
  .about-wrap
    h1
      | О компании
    p
      | У Вас в доме или офисе сверкают молнии и повсюду вспыхивают электрические разряды? Пусть Вас это не пугает. Это означает, что последователи 
      | Теслы из «Ананаса» где-то поблизости, а скорее всего именно в эпицентре вспышек разрядов электрического тока!
    .sidebar
      .sidebar-articles
        h1
          | Интересное
      img(src="img/about/interesting.png" width="100%")
      .sidebar-sub-articles
        h1
          | Интересное в блоге
      .sidebar-articles-content
        .first
          h1
            | Приехали с международного форума 
            | аниматоров в Москве.
          p
            | Всем привет дорогие друзья! Долго от нас
            | не было новостей, но на это поверьте была
            | причина . Мы посетили международный 
            | форум для организаторов детских 
            | праздников, которые проходил в Москве.
          p.continue
            a
              | читать далее

    .about-wrap-content
      p
        | Top Show Group «Ананас» - организация праздников, созданная для того, чтобы праздник был 
        | ПРАЗДНИКОМ с большой буквы, после которого становится лишь немного грустно от того, 
        | что все закончилось, но в душе растет ожидание ,что все повторится снова. 
        | А что же будет снова? Будет веселье и радость, новые и старые, но любимые персонажи, подвижные 
        | и интересные конкурсы, игротеки, подарки, удивительные фокусы и многое, многое другое…
      .poem
        .verse 
          p
            | Головная боль Вас мучит 
          p 
            | Что на праздник предложить? 
          p 
            | Развлеченьями, какими 
          p 
            | Всех пришедших удивить? 
        .verse  
          p
            | Вы прислушайтесь к совету 
          p
            | Голова пройдет тот час 
          p
            | Если наберете номер 
          p
            | Top Show Group «Ананас»! 
        .verse
          p
            | А потом про праздник этот 
          p
            | Скажут: «-Он прошел на «АХ!» 
          p
            | И молва зимой и летом 
          p
            | Долго будет на устах… 
        .verse 
          p
            | Пусть другие паникуют - 
          p
            | Есть надежный друг у Вас 
          p
            | Праздника организатор 
          p
            | Top Show Group «Ананас»!
        .verse.verse-bold
          p
            | Много не говорим - грамотно делаем. 
          p
            | Оформим, организуем, проведем!
          p
            | С уважением, директор Top Show Group «Ананас»
          p
            | Кизимова Анастасия
  .clr
