.additionalservices
	.grid-items-lines
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/scienceshow.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/childrenholidays.jpg', alt='', width='100%')
		|  
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/discos.jpg', alt='', width='100%')
		|
		
		a.grid-item.grid-item-big(href='javascript:void(0)')
			//- img(src='', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/photo.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/electricshow.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/electricshow1.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			img(src='img/services/electricshow2.jpg', alt='', width='100%')
		.right-cover
		.bottom-cover
