.articles-line-before
  span
    | Статьи
  hr
.clr
.articles-content-first
  .articles-content-image
    img(src="img/articleimg.png")
  .articles-content-text
    h3
      | Что подарить любимому человеку?
    p
      | Для поздравления любимых и дорогих нам людей со знаменательным событием  или юбилейной датой отлично подойдёт
      | необычный подарок,такой как...
.articles-content-second
  .articles-content-image
    img(src="img/articleimg.png")
  .articles-content-text
    h3
      | Что подарить любимому человеку?
    p
      | Для поздравления любимых и дорогих нам людей со знаменательным событием  или юбилейной датой отлично подойдёт
      | необычный подарок,такой как...
.articles-content-third
  .articles-content-image
    img(src="img/articleimg.png")
  .articles-content-text
    h3
      | Что подарить любимому человеку? 
    p
      | Для поздравления любимых и дорогих нам людей со знаменательным событием  или юбилейной датой отлично подойдёт
      | необычный подарок,такой как...
.articles-content-fourth
  .articles-content-image
    img(src="img/articleimg.png")
  .articles-content-text
    h3
      | Что подарить любимому человеку?
    p
      | Для поздравления любимых и дорогих нам людей со знаменательным событием  или юбилейной датой отлично подойдёт
      | необычный подарок,такой как...
.articles-line-after
  hr
  span
    | Читать в блоге
