.ask-question
	.ask-question-back
		.ask-question-back-image
			img(src="img/ask-question-back.jpg" width="100%")
	.ask-question-front
		.ask-question-content
			h1 Задайте вопрос
			p Оставьте вопрос и мы Вам перезвоним
			.input-records
				input(type='text', name='name', placeholder='Имя') 
				input(type='text', name='phone', placeholder='Телефон')
				input(type='text', name='mail', placeholder='E-mail')
			.textarea-records
				textarea(placeholder='Сообщение')
		.confidentiality
			.confidentiality-text
				p *Мы гарантируем кондифициальность Ваших данных.
				p Никакие данные, полученные от пользователя НЕ передаются третьим лицам
			.confidentiality-input
				input(type='button', name='askbutton', value='Отправить')
