.ask-question
  h1
    | Задайте вопрос
  p
    | Оставьте вопрос и мы Вам перезвоним
  .input-records
    input(type="text" name="name")
    input(type="text" name="phone")
    input(type="text" name="mail")
  .textarea-records
      textarea(value="Сообщение")
  .clr
  p
    | *Мы гарантируем кондифициальность Ваших данных. 
  p
    | Никакие данные, полученные от пользователя НЕ передаются третьим лицам
