.costumes-wrapper
  .costumes-wrapper-back
  .costumes-wrap
    h1
      | Костюмы
    p
      | У Вас в доме или офисе сверкают молнии и повсюду вспыхивают электрические разряды? Пусть Вас это не пугает. Это означает, что последователи 
      | Теслы из «Ананаса» где-то поблизости, а скорее всего именно в эпицентре вспышек разрядов электрического тока!
    .cards
      .card
        .card-image
          img(src='img/ourcostumes/costumes/first.jpg', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/second.png', alt='')
        .card-header 
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/fifth.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
    .cards
      .card
        .card-image
          img(src='img/ourcostumes/costumes/third.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/fourth.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/fifth.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
    .cards
      .card
        .card-image
          img(src='img/ourcostumes/costumes/seventh.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/sixth.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
      .card
        .card-image
          img(src='img/ourcostumes/costumes/seventh.png', alt='')
        .card-header
          h3
            | Электрическое шоу тесла
        .card-copy
          p
            | Если Вы стремитесь произвести
            | фурор, сняв необычный клип 
            | для своей песни,  организовав 
            | на высшем уровне презентацию 
            | своего продукта, конференцию
            | или вечеринку для коллег
        input(type="button" name="button" value="Заказать праздник")
