.feedback
  .container
    .carousel
      ul
        li
          #first
          .carousel-text  
            h1
              | Алма
            p
              | Здравствуйте! Аниматоры нам очень понравились! Было очень весело!
              | Все дети очень довольны! Большое Вам спасибо! Желаю Вам всем счастья, крепкого здоровья,
              | процветания, успехов во всем и всего самого наилучшего! С уважением, Ермекова Алма
        li
          #second
          .carousel-text  
            h1
              | Алма
            p
              | Здравствуйте! Аниматоры нам очень понравились! Было очень весело!
              | Все дети очень довольны! Большое Вам спасибо! Желаю Вам всем счастья, крепкого здоровья,
              | процветания, успехов во всем и всего самого наилучшего! С уважением, Ермекова Алма
        li
          #third
          .carousel-text  
            h1
              | Алма
            p
              | Здравствуйте! Аниматоры нам очень понравились! Было очень весело!
              | Все дети очень довольны! Большое Вам спасибо! Желаю Вам всем счастья, крепкого здоровья,
              | процветания, успехов во всем и всего самого наилучшего! С уважением, Ермекова Алма
        li
          #fourth
          .carousel-text  
            h1
              | Алма
            p
              | Здравствуйте! Аниматоры нам очень понравились! Было очень весело!
              | Все дети очень довольны! Большое Вам спасибо! Желаю Вам всем счастья, крепкого здоровья,
              | процветания, успехов во всем и всего самого наилучшего! С уважением, Ермекова Алма
