footer
  .bottom-menu-back
    .bottom-menu-content
      include components/footer_menu/footer_menu.pug
  .bottom-contacts-line-back
    .bottom-contacts-line
      .bottom-contacts-line-text
        p
          | Хотите заказать праздник в Астане? 
        p 
          | Агентство праздников Top Show Group "Ананас" к Вашим услугам!
      .bottom-contacts-line-phones
        
