footer
  .bottom-menu-back
    .bottom-menu-content
      include components/footer_menu/footer_menu.pug
  .bottom-contacts-line-back
    .bottom-contacts-line
      img(src="img/lines.png" width="100%")
      .bottom-contacts-line-content
        .bottom-contacts-line-text
          p
            | Хотите заказать праздник в Астане? 
          p 
            | Агентство праздников Top Show Group "Ананас" к Вашим услугам!
        .bottom-contacts-line-phones
          //- p
            //- | 7
          p
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            span
              | +7 776-577-13-58 Анастасия
          p
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            span
              | +7 747-555-31-69 Анжела
