.header
	a.logo(href='javascript:void(0)')
		img(src='img/logo.png', alt='Logo Image' width="100%")
	.contacts-line
		.contacts-icon
			i.fa.fa-whatsapp(aria-hidden='true')
				span
					| +7-701-577-13-58
			i.fa.fa-instagram(aria-hidden='true')
				span
					| ananas_top_show_group
			span
				| +7(7172) 78-26-47
			.order
				span
					| ЗАКАЗАТЬ ЗВОНОК

	include components/nav_menu/nav_menu.pug
	.clr
