.section
  .service-block
    h3 Сертификация систем менеджмента
    img(src='/images/usl1.jpg')
    a(href='#') Подробнее
  .service-block
    h3 Сертификация продукции
    img(src='/images/usl2.jpg')
    a(href='#') Подробнее
  .service-block
    h3 Сертификация услуг
    img(src='/images/usl3.jpg')
    a(href='#') Подробнее
.section
  .service-block
    h3 Испытания продукции
    img(src='/images/usl4.jpg')
    a(href='/ispytatelnyi_centr.html') Подробнее
  .service-block
    h3 Метрология
    img(src='/images/usl5.jpg')
    a(href='#') Подробнее
  .service-block
    h3 Политики
    img(src='/images/usl6.jpg')
    a(href='#') Подробнее
