header.navigation(role='banner')
	.navigation-wrapper
		a.logo(href='javascript:void(0)')
			img(src='http://ghouse.kz/themes/laratify-octobercms-octaskin/assets/images/logoghouse.png', alt='Logo Image')
		a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') МЕНЮ
		nav(role='navigation')
			ul#js-navigation-menu.navigation-menu.show
				li.nav-link
					a(href='javascript:void(0)') О компании
				li.nav-link
					a(href='javascript:void(0)') Продукция
				li.nav-link
					a(href='javascript:void(0)') Технологии
				li.nav-link
					a(href='javascript:void(0)') Галерея
				li.nav-link
					a(href='javascript:void(0)') Контакты
				li.nav-link
					a.button смотреть презентацию
