.ourcostumes
	.ourcostumes-text
		h1
			| наши костюмы
		p
			| Herbs are fun and easy to grow. When harvested they make 
			| even the simplest meal seem like 
			| a gourmet delight. By using herbs in your cooking you can 
			| easily change the flavors of your 
			| recipes in many different ways, according to which herbs you 
			| add.Fresh herbs are great in breads,
			| stews, soups or vegetables. Every time you add
		input(type="button" name="button" value="Посмотреть все костюмы")
		//- .button-ourcostumes
		//- 	| ХОЧУ ПРАЗДНИК
	.ourcostumes-image
		.slider
			ul.slides
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes.png" alt="" width="100%")
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes2.png" alt="" width="100%")
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes3.png" alt="" width="100%")
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes4.png" alt="" width="100%")
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes5.png" alt="" width="100%")
				li.slide
					.slider-box
						img(src="img/ourcostumes/costumes6.png" alt="" width="100%")
.clr
