#partners
  .partner
    img(src='/images/sl3.jpg')
  .partner
    img(src='/images/sl2.png')
  .partner
    img(src='/images/sl1.png')
  .partner
    img(src='/images/sl5.jpg')
  .partner
    img(src='/images/sl4.jpg')
