.process
  .process-call
    <i class="fa fa-phone" aria-hidden="true"></i>
    p
      | Звонок
  .process-dialog
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    p
      | Диалог
  .process-acception
    <i class="fa fa-calculator" aria-hidden="true"></i>
    p
      | Утверждение
  .process-preparation
    <i class="fa fa-magic" aria-hidden="true"></i>
    p
      | Подготовка и организация
  .process-offer
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    p
      | Подбор предоложений
  .process-conducting
    <i class="fa fa-gift" aria-hidden="true"></i>
    p
      | Проведение праздников
.clr
