.services
	
	.grid-items-lines
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Научное шоу
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/scienceshow.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Детские праздники
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/childrenholidays.jpg', alt='', width='100%')
			//- img(src='img/services/childrenholidays.jpg', alt='', width='100%')
		|  
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Дискотеки
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/discos.jpg', alt='', width='100%')
			//- img(src='img/services/discos.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)', style="cursor: default;")
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/photo.jpg', alt='', width='100%')
			//- img(src='img/services/photo.jpg', alt='', width='100%')
		|
		a.grid-item.grid-item-big(href='javascript:void(0)')
			.services-content-text
				h1
					| Наши услуги
				p
					| Herbs are fun and easy to grow. When harvested they make even the simplest meal
					| seem like a gourmet delight. By using herbs in your cooking you can easily change the
					| flavors of your
				input(type='button', name='servbutton', value='Посмотреть другие услуги')
		|
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Электрическое шоу
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/electricshow.jpg', alt='', width='100%')
			//- img(src='img/services/electricshow.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Электрическое шоу
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/electricshow1.jpg', alt='', width='100%')
			//- img(src='img/services/electricshow1.jpg', alt='', width='100%')
		|
		a.grid-item(href='javascript:void(0)')
			.grid-item-content
				h1
					| Электрическое шоу
			.grid-items-back
				.grid-items-back-image
					img(src='img/services/electricshow2.jpg', alt='', width='100%')
			//- img(src='img/services/electricshow2.jpg', alt='', width='100%')
