.side-image-wrap
	.button-holiday
		p
			| ХОЧУ ПРАЗДНИК
	.slider
		ul.slides
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
								p
									| Робот трансформер Бамблби на Ваш праздник!
									| Программа для Вашего ребенка, космическое поздравление любимым
									| или встреча гостей - для него нет ничего возможного!

						.images-wrapper
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
								p
									| Робот трансформер Бамблби на Ваш праздник!
									| Программа для Вашего ребенка, космическое поздравление любимым
									| или встреча гостей - для него нет ничего возможного!
						.images-wrapper
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
								p
									| Робот трансформер Бамблби на Ваш праздник!
									| Программа для Вашего ребенка, космическое поздравление любимым
									| или встреча гостей - для него нет ничего возможного!
						.images-wrapper
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
									p
										| Робот трансформер Бамблби на Ваш праздник!
										| Программа для Вашего ребенка, космическое поздравление любимым
										| или встреча гостей - для него нет ничего возможного!
						.images-wrapper
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
								p
									| Робот трансформер Бамблби на Ваш праздник!
									| Программа для Вашего ребенка, космическое поздравление любимым
									| или встреча гостей - для него нет ничего возможного!
						.images-wrapper
			li.slide
				.slider-box
					.side-image
						.side-image-content
							h4 Новинка  в
							h1 ананасе
							.side-content-text
								p
									| Робот трансформер Бамблби на Ваш праздник!
									| Программа для Вашего ребенка, космическое поздравление любимым
									| или встреча гостей - для него нет ничего возможного!
						.images-wrapper
				
