.footer-2 {
  padding: 1em 0 0 0!important;;
  background: $footer_menu_footer_background;
  display: inline-block;
  padding: $footer_menu_base_spacing;
  width: 100%;

  .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em;

    @include media($footer_menu_large_screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }
  .whp{
    float: right;
    span{
      font-size: 20px;
      font-style: italic;
      color: #fff;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;


    @include media($footer_menu_large_screen) {
      float: left;
      line-height: 1.8em;
      margin-bottom: 0;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1em;

    @include media($footer_menu_large_screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: #f3e936 !important;
    text-decoration: none;
    font-style: italic;
    &:focus,
    &:hover {
      color: transparentize($footer_menu_footer_color, 0);
    }
  }

  .footer-secondary-links {
    @include media($footer_menu_large_screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($footer_menu_large_screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
