footer.footer-2(role='contentinfo')
	ul
		li
			a(href='javascript:void(0)') услуги
		li
			a(href='javascript:void(0)') прайс
		li
			a(href='javascript:void(0)') костюмы
		li
			a(href='javascript:void(0)') вакансии
		li
			a(href='javascript:void(0)') о нас
		li
			a(href='javascript:void(0)') галерея
	ul.whp
		li
			span
				| Напишите нам в whatsapp!
